QPushButton#replayTrackBtn{
        background-color: #829fd1;
        border-image: url(:/Buttons/resources/icons/buttons/repeat.png);
}
QPushButton#replayTrackBtn:hover{
        border-style: inset;
}
QPushButton#replayTrackBtn:pressed{
        background-color: #a3bce6;
        border-style: inset;
}
